In [309]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier 
import matplotlib.pyplot as plt

In [310]:
df=pd.read_csv("crypto-markets.csv")

In [311]:
df.keys()

Index(['slug', 'symbol', 'name', 'date', 'ranknow', 'open', 'high', 'low',
       'close', 'volume', 'market', 'close_ratio', 'spread'],
      dtype='object')

In [312]:
df.shape

(942297, 13)

In [313]:
df.head(7)

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32
5,bitcoin,BTC,Bitcoin,2013-05-03,1,106.25,108.13,79.10,97.75,0.0,1.085995e+09,0.6424,29.03
6,bitcoin,BTC,Bitcoin,2013-05-04,1,98.10,115.00,92.50,112.50,0.0,1.250317e+09,0.8889,22.50

In [314]:
df=df[["open","high","low","close"]]

In [315]:
print(df[df["close"]<1])  #since closing is less than 1 at some places, remove it

            open      high       low     close
2042    0.005874  0.005927  0.005874  0.005882
2043    0.005875  0.005980  0.005613  0.005613
2044    0.005637  0.005661  0.004629  0.004680
2045    0.004669  0.004682  0.004333  0.004417
2046    0.004397  0.004424  0.004175  0.004254
...          ...       ...       ...       ...
939513  0.000240  0.000240  0.000240  0.000240
939514  0.000240  0.000240  0.000240  0.000240
939515  0.000240  0.000240  0.000240  0.000240
939516  0.000240  0.000240  0.000240  0.000240
939517  0.000240  0.000240  0.000240  0.000240

[815373 rows x 4 columns]

In [316]:
df=df[df.close>1]

In [317]:
df.head()

     open    high     low   close
0  135.30  135.98  132.10  134.21
1  134.44  147.49  134.00  144.54
2  144.00  146.93  134.05  139.00
3  139.00  139.89  107.72  116.99
4  116.38  125.60   92.28  105.21

In [318]:
#check value greater than 2.1
f= (df['close']>2.1)

In [319]:
f.value_counts()

True     86056
False    38972
Name: close, dtype: int64

In [320]:
df['CLOSE_2'] =f.values

In [321]:
x=df.drop(["close","CLOSE_2"],axis=1).values

In [338]:

y=df.CLOSE_2.values
y

array([ True,  True,  True, ...,  True,  True,  True])

In [339]:
x.shape

(125028, 3)

In [340]:
y.shape

(125028,)

In [341]:
trainx,testx,trainy,testy=train_test_split(x,y,test_size=0.2)

In [342]:
LogReg= LogisticRegression()
LogReg= LogReg.fit(trainx,trainy)

In [343]:
y_predict=LogReg.predict(testx)

In [344]:
a=accuracy_score(y_predict,testy)

In [345]:

#mse=mean_squared_error(y_predict,testy)

In [346]:
knn = KNeighborsClassifier(n_neighbors = 2) 
knn.fit(trainx,trainy)

KNeighborsClassifier(n_neighbors=2)

In [347]:
y_pred=knn.predict(testx)

In [358]:
b=accuracy_score(y_pred,testy)

In [359]:
print("Accuracy Scores \n\nLogistic Regression:",a)
print("k-NN:",b)

Accuracy Scores

Logistic Regression: 0.9824442133887867
k-NN: 0.9782052307446213

In [ ]:
plt.bar(y_pred,testy,color='red')  #for knn
plt.bar(y_predict,testy,color='blue')   #for logistic Regression

In [ ]:
plt.show()